h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 582px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  color: #000000;
  cursor: pointer;
  transition: color 250ms var(--timing-function);
}
.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.modal-user-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}
.modal-input:focus + .modal-user-icon {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms var(--timing-function);
}
.modal-input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-comment:focus {
  outline: transparent;
  border-color: var(--accent-color);
  transition: border-color 250ms var(--timing-function);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-text {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 30px;
}

.checked-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.policy-checkbox:checked + .policy-text > .checked-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--secondary-icon-color);
}
.policy-checkbox:focus + .policy-text > .checked-icon {
  border-color: var(--accent-color);
}

.user-policy {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.user-policy-link {
  color: var(--accent-color);
  text-decoration: none;
  text-decoration: underline;
}

.user-button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: auto;
  background: var(--hero-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  position: relative;
  transition: color 250ms var(--timing-function);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}
.site-nav__link:hover::after {
  transform: scaleX(1);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.contacts__link {
  transition: color 250ms var(--timing-function);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--dark {
  color: var(--logo-color);
}

.logo--light {
  color: var(--secondary-text-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  background-color: var(--secondary-bg-color);
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--secondary-text-color);
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-btn-color);
}
@media screen and (max-width: 479px) {
  .hero__button {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__wrap {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--third-bg-color);
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--third-bg-color);
}

.team__title {
  color: var(--title-text-color);
}

.team__title--main {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  display: block;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__data {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__data {
    padding-bottom: 30px;
  }
}

.team__title--secondary {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team__contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team__soc-item {
  width: 44px;
  height: 44px;
}

.team__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.team__soc-icon {
  fill: currentColor;
}

.clients {
  background-color: var(--primary-bg-color);
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

.footer__wrap {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--lighter {
  color: var(--secondary-text-color);
}

.address__link--darker {
  color: var(--contacts-list-color);
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--secondary-icon-color);
  background-color: var(--bg-icon-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-icon-color);
}

.footer-soc__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: auto;
  }
}

.footer__subscribe {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: flex;
  }
}

.footer__mail-field {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .footer__mail-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mail-field {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  outline: transparent;
}

.footer__subscribe-icon {
  fill: currentColor;
}

.portfolio__button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button {
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: var(--portfolio-btn-color);
  color: var(--portfolio-title-color);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  transition: box-shadow 250ms var(--timing-function);
  width: calc((100% - 60px) / 3);
  background-color: var(--primary-bg-color);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;
  color: var(--hidden-text-color);
  background-color: var(--hidden-bg-color);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
}
.portfolio__item:hover .portfolio__hidden-text, .portfolio__item:focus .portfolio__hidden-text {
  transform: translateY(0);
}

.portfolio__data {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-title-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--portfolio-text-color);
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-btn-color: #188ce8;
  --contacts-list-color: rgba(255, 255, 255, 0.6);
  --portfolio-btn-color: #f5f4fa;
  --portfolio-title-color: #212121;
  --portfolio-text-color: #757575;
  --border-color: #eeeeee;
  --hidden-text-color: #ffffff;
  --hidden-bg-color: rgba(33, 150, 243, 0.9);
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */