:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-btn-color: #188ce8;
  --contacts-list-color: rgba(255, 255, 255, 0.6);

  --portfolio-btn-color: #f5f4fa;
  --portfolio-title-color: #212121;
  --portfolio-text-color: #757575;
  --border-color: #eeeeee;
  --hidden-text-color: #ffffff;
  --hidden-bg-color: rgba(33, 150, 243, 0.9);

  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --bg-icon-color: rgba(255, 255, 255, 0.1);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --modal-bg-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ---------- HEARED ---------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav-item {
  position: relative;
}

.site-nav-link {
  position: relative;

  transition: color 250ms var(--timing-function);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.site-nav-link:hover::after {
  transform: scaleX(1);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(1);
}

.contacts-list {
  display: flex;
  align-items: center;

  gap: 50px;
  margin-left: auto;
}

.contacts-list .link {
  transition: color 250ms var(--timing-function);

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

.contacts-link-icon {
  fill: currentColor;
}

/* ---------- HERO ---------- */

.hero {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;

  background-color: var(--secondary-bg-color);
}

.hero-title {
  max-width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.button {
  border-radius: 4px;
  border: none;
}

.hero-button {
  transition: background-color 250ms var(--timing-function);

  display: inline-block;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  color: var(--secondary-text-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-color);
}

/* ---------- ОСОБЛИВОСТІ ---------- */

.features {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  width: calc((100% - 90px) / 4);
}

.fetures-item-icon {
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--third-bg-color);
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}
/* ---------- ЧИМ МИ ЗАЙМАЄМОСТЬ ---------- */

.work-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);

  text-transform: uppercase;
}

/* ---------- НАША КОМАНДА ---------- */

.team {
  background-color: var(--third-bg-color);
}

.team-main-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.team-list {
  display: flex;
  gap: 30px;

  text-align: center;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bg-color);
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-data {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 16px;

  color: var(--primary-text-color);
}

.team-contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--primary-icon-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.team-soc-icon {
  fill: currentColor;
}

/* ---------- ПОСТІЙНІ КЛІЄНТИ ---------- */

.clients {
  background-color: var(--primary-bg-color);
}

.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* ---------- FOOTER ---------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-addres-wrap {
  margin-right: 70px;
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  transition: color 250ms var(--timing-function);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address .contacts-link {
  color: var(--contacts-list-color);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.footer-soc-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--secondary-icon-color);
  background-color: var(--bg-icon-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-icon-color);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-mail-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 20px;
}

.footer-subscribe {
  display: flex;
}

.footer-mail-field {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  color: var(--secondary-text-color);
}

.footer-mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  outline: transparent;
  cursor: pointer;
}

.subscribe-icon {
  fill: currentColor;
}

/* ---------- PORTFOLIO ---------- */

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-button {
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background: var(--portfolio-btn-color);
  color: var(--portfolio-title-color);

  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--portfolio-title-color);
}

.portfolio-item {
  transition: box-shadow 250ms var(--timing-function);

  width: calc((100% - 60px) / 3);

  background-color: var(--primary-bg-color);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-text {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;

  color: var(--hidden-text-color);
  background-color: var(--hidden-bg-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
}

.portfolio-item:hover .portfolio-hidden-text,
.portfolio-item:focus .portfolio-hidden-text {
  transform: translateY(0);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--portfolio-text-color);
}

.portfolio-data {
  border: 1px solid var(--border-color);
  border-top: none;

  padding: 20px 24px;
}

/* ---------- MODAL WINDOW ---------- */

.backdrop {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.modal {
  width: 528px;
  min-height: 582px;
  background-color: var(--primary-bg-color);
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  color: #000000;
  position: absolute;
  right: 8px;
  top: 8px;

  cursor: pointer;
  transition: color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.modal-field {
  position: relative;

  margin-bottom: 10px;
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--primary-text-color);
}

.modal-user-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;

  transition: fill 250ms var(--timing-function);
}

.modal-input:focus + .modal-user-icon {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 12px 12px 42px;

  transition: border-color 250ms var(--timing-function);
}

.modal-input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-comment:focus {
  outline: transparent;
  border-color: var(--accent-color);

  transition: border-color 250ms var(--timing-function);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.policy-text {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 30px;
}

.checked-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  fill: transparent;

  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.policy-checkbox:checked + .policy-text > .checked-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--secondary-icon-color);
}

.policy-checkbox:focus + .policy-text > .checked-icon {
  border-color: var(--accent-color);
}

.user-policy {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.user-policy-link {
  color: var(--accent-color);
  text-decoration: none;
  text-decoration: underline;
}

.user-button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: auto;

  background: var(--hero-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
}
