.clients {
  background-color: var(--primary-bg-color);
}

.clients__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
