.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__icon {
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--third-bg-color);
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}
