.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__tablet-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    // gap: 165px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

.footer__wrap {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link--lighter {
  color: var(--secondary-text-color);
}

.address__link--darker {
  color: var(--contacts-list-color);
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--secondary-icon-color);
  background-color: var(--bg-icon-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-icon-color);
  }
}

.footer-soc__icon {
  fill: currentColor;
}

.footer__form {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer__subscribe {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__mail-field {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  color: var(--secondary-text-color);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;

  min-width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  outline: transparent;
}

.footer__subscribe-icon {
  fill: currentColor;
}
