.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  position: relative;

  transition: color 250ms var(--timing-function);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(1);
  }
}

.contacts {
  display: flex;
  align-items: center;

  gap: 50px;
  margin-left: auto;
}

.contacts__link {
  transition: color 250ms var(--timing-function);

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
}
