.hero {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;

  background-color: var(--secondary-bg-color);
}

.hero-title {
  max-width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  color: var(--secondary-text-color);
  transition: background-color 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-color);
}
