.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--dark {
  color: var(--logo-color);
}

.logo--light {
  color: var(--secondary-text-color);
}
