.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-button {
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background: var(--portfolio-btn-color);
  color: var(--portfolio-title-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--portfolio-title-color);
}

.portfolio-item {
  transition: box-shadow 250ms var(--timing-function);

  width: calc((100% - 60px) / 3);

  background-color: var(--primary-bg-color);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-text {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;

  color: var(--hidden-text-color);
  background-color: var(--hidden-bg-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
}

.portfolio-item:hover .portfolio-hidden-text,
.portfolio-item:focus .portfolio-hidden-text {
  transform: translateY(0);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--portfolio-text-color);
}

.portfolio-data {
  border: 1px solid var(--border-color);
  border-top: none;

  padding: 20px 24px;
}
