:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-btn-color: #188ce8;
  --contacts-list-color: rgba(255, 255, 255, 0.6);

  --portfolio-btn-color: #f5f4fa;
  --portfolio-title-color: #212121;
  --portfolio-text-color: #757575;
  --border-color: #eeeeee;
  --hidden-text-color: #ffffff;
  --hidden-bg-color: rgba(33, 150, 243, 0.9);

  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --bg-icon-color: rgba(255, 255, 255, 0.1);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --modal-bg-color: rgba(0, 0, 0, 0.2);
}
